<!-- <mat-chip-list *ngFor="let instructor of instructors">
        <mat-chip>{{instructor.name}}</mat-chip>
        <mat-chip><img src="https://api.bodysky.com/content/profile-picture/<{{instructor.imageUid}}>" alt=""></mat-chip>
    </mat-chip-list> -->

<!-- <div class="instructor-img">
        <div *ngFor="let instructor of instructors">
            <div><img class="instructor-picture" src="https://api.bodysky.com/content/profile-picture/<{{instructor.imageUid}}>" alt=""></div>
            <div>{{instructor.name}}</div>
        </div>
    </div> -->

<!-- <mat-grid-list *ngFor="let instructor of instructors" cols="2" rowHeight="2:5">
        <mat-grid-tile>{{instructor.name}}</mat-grid-tile>
        <mat-grid-tile><img class="instructor-picture" src="https://api.bodysky.com/content/profile-picture/<{{instructor.imageUid}}>" alt=""></mat-grid-tile>
    </mat-grid-list> -->

<!-- <button mat-stroked-button style="position: absolute; top: 51%; left: 2%;" (click)="getAllInstructors()">Fetch instructor data from API</button>  -->
<!-- <ul>
    <li *ngFor="let instructor of instructors">
       <span>{{instructor.city}}</span>
       <span>{{instructor.name}}</span>
    </li>
  </ul> -->

<!-- 
  <mat-grid-list cols="10" rowHeight="1:1" class="design">
    <mat-grid-tile *ngFor="let instructor of instructors"> 
        <span>{{instructor.city}}</span>
        <span>{{instructor.name}}</span>
    </mat-grid-tile>
  </mat-grid-list> -->